/Coding Assignment/Dependency-Parsing/output/
/Coding Assignment/Dependency-Parsing/glove.6B.50d.txt
/Coding Assignment/Dependency-Parsing/data/
/Coding Assignment/frontend/node_modules/
/Coding Assignment/frontend/.gitignore
/Coding Assignment/Resume-Parsing/__pycache__/
/coding Assignment/Sentiment-Analysis-Treebank-dataset/utils/model.pt
/coding Assignment/Sentiment-Analysis-Treebank-dataset/__pycache__/
/coding Assignment/Code-Autocomplete/utils/best-val-auto.pt
/coding Assignment/Code-Autocomplete/best-val-auto.pt
/coding Assignment/Code-Autocomplete/utils/best-val-auto1.pt
/coding Assignment/Code-Autocomplete/utils/Seq2SeqPackedAttention_fullSCB.pt